<br><br><br><br><br>
<!--About Us Section-->
<div class="container">
<div class="row my-4">
<div class="col-md-6">
<img class="img-fluid rounded" src="assets/تطوع.jpg" alt=""></div>
<!-- /.col-lg-8 -->
<div class="col-md-6">
<h1 class="head-style">حوّل المِنصة</h1>
<p class="p1">الإنسان بطبعِهِ لا يستطيعُ العيش بمفردِهِ؛ بل يحتاجُ إلى أنْ يكونَ ضمن مُجتمعٍ، ومع مجموعةٍ من الأشخاص سواءً في منزلهِ، أو مكان دراستِهِ، أو عملهِ؛ لأنّ الخصائص الاجتماعيّة هي مِن سِمات الطّبيعة الإنسانيّة، فالفطرةُ السّليمة تدعوُ الإنسان دائماً إلى تقديمِ الخير وتنحية الشرّ بشكلٍ نهائيّ. لذا انطلاقا من هذا المبدأ كان من الضروري أيجاد جسم يجمع بين المحتاجين والمتطوعين. هذا الجسم يعرف باسم "منصة أنا أنسان". وهو موقع الكتروني الأول من نوعه في العراق والذي يهدف الى عرض الحالات الأنسانية في الصفحة الرئيسية إذ يتمكن من خلاله الأفراد الذين يتمتعون بالمهارة والحماس, تقديمُ المساعدةِ والعون والجهد مِن أجل العمل على تحقيقِ الخير في المُجتمعِ عُموماً ولأفراده خصوصاً.</p>
<br>
<h1 class="head-style">رسالتنا</h1>
<p class="p1">ندعوُ الإنسان دائماً إلى تقديمِ الخير وتنحية الشرّ بشكلٍ نهائيّ, وأن مِن سِمات الطّبيعة الإنسانيّة، الخصائص الاجتماعيّة لأنّ الإنسان بطبعِهِ لا يستطيعُ العيش بمفردِهِ؛ بل يحتاجُ إلى أنْ يكونَ ضمن مُجتمعٍ،, ومع مجموعةٍ من الأشخاص سواءً في منزلهِ، أو مكان دراستِهِ، أو عملهِ.</p><br/><br/>
</div></div></div>           
<section id="test" class="test bg-grey roomy-60 fix">
<div class="container">
<div class="row">                        
<div class="main_test fix">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="head_title text-center fix">
<p class="text-bg"><strong>حول المبرمجين</strong> </p>
<p class="p2">نحن مجموعة من المبرمجين المتطوعين في المبادرة الانسانية البرمجة من أجل العراق. تهدف المبادرة الى خدمة وبناء المجتمع من الشعب والى الشعب عن طريق البرمجة</h5></div></div>
<div class="col-md-6">
<div class="test_item fix">
<div class="item_img">
<img class="img-circle" src="assets/FB_IMG_1516295182348.jpg" alt="" />
<i class="fa fa-quote-left"></i></div>
<div class="item_text">
<p class="p21">محمد عيسى</p>
<h6>muhammed.essa@codeforiraq.org</h6>
<p class="p22">"صاحب ومؤسس مبادرة البرمجة من أجل العراق"
</p><br></div></div></div>
<div class="col-md-6">
<div class="test_item fix sm-m-top-30">
<div class="item_img">
<img class="img-circle" src="assets/Doozy+Labs+Responsive+Website+Development+Icon.png" alt="" /><i class="fa fa-quote-left"></i></div>
<div class="item_text">
<p class="p21">المبرمجين</p>
<h6>info@codeforiraq.org</h6>
<p>front-end | Zena Hasan<br> Back-end | Fatima Amer<br> Mobile Application | Rana Abdullah.</p>
</div></div></div></div></div></div>
</section>
