<br><br><br><br><br><br>
<div class="container">
<h1>تعديل الحالة </h1>

<%= render 'form' %>

<%= link_to 'عرض', @add_info , class:"btn default"%> 
<%= link_to 'عودة', add_infos_path, class:"btn default" %>
</div><br><br><br>