<br><br><br>
<body data-spy="scroll" data-target=".navbar-collapse">
<!--Home Sections-->
<section class="home" class="home bg-black fix">
<div class="overlay">
<div class="container">
<div class="row">
<div class="main_home text-center">
<div class="col-md-12">
<br> <br><br><br><br><br><br>
<div class="hello_slid">
<div class="slid_item">
<div class="home_text ">
<h1 class="text-white"> يصبح الانسان عظيما تماما بالقدر الذي يعمل فيه من أجل رعاية أخيه الانسان 
<h3 class="text-white">- غاندي -</h3></div>
<center>
</div>
</div></center></div></div></div></div></div>
</section> 
<!--Featured Section-->
<section id="features" class="features">
<div class="container">
<div class="row">
<div class="main_features fix roomy-70">
<div class="col-md-4">
<div class="features_item sm-m-top-30">
<div class="f_item_icon">
<i class="fa fa-tablet"></i>
</div>
<div class="f_item_text">
<h3>حمّل تطبيق الجوال </h3>
<p>بأمكانكم ايضا تحميل تطبيق "أنا أنسان" على هواتفكم من المتجر الخاص بكم.</p></div></div></div>
<div class="col-md-4"><div class="features_item sm-m-top-30">
<div class="f_item_icon"><i class="fa fa-bullhorn"></i></div>
<div class="f_item_text">
<h3>أذا أحسست بألالم فأنت "حي" وأذا أحسست بألام ألأخرين فأنت "أنسان"</h3>
<p>بأمكان أي فرد التبليغ عن حالة أنسانية, ونحن سنعلن عنها في الموقع الالكتروني.</p>
</div></div></div>
<div class="col-md-4">
<div class="features_item sm-m-top-30">
<div class="f_item_icon">
<i class="fa fa-handshake-o"></i>
</div>
<div class="f_item_text">
<h3>العطاء .. بذرة من نقاء تثمر خيرا وصفاء</h3>
<p>نحن نؤمن بأن كل فرد قادر على تقديم الخدمات التي يحتاجها المجتمع, فمن اعطى وقت الحاجة كانت عطيته مضاعفة, قال تعالى :"فمن يعمل مثقال ذرة خيرا يره"</p>
</div></div></div></div></div></div></div>
</section>
<br><br>
<div class="container">
     <hr>
    <!--div class="row">
        <div class="col-md-3 col-md-offset-3">
    <h3>حمل التطبيق الان </h3>
        </div>
    </div-->
</div>
<p id="notice">
<%= notice %>
</p>
<br><br>

