<section id="action" class="action bg-primary roomy-40">
<div class="container">
<div class="row">
<div class="maine_action">
<div class="col-md-12">
<div class="action_item text-center">
<h2 class=" mn">تطوعك غير أجباري لكنه واجب أنساني نحو المجتمع!</h2>
</div></div></div></div></div></section>
<footer id="contact" class="footer action-lage bg-black p-top-80">
<!--<div class="action-lage"></div>-->
<div class="container">
<div class="row">
<div class="widget_area">
<div class="col-md-3">
<div class="widget_item widget_about">
<h5 class="text-white">تواصل معنا</h5>                       
<div class="widget_ab_item m-top-30">
<div class="item_icon">
<i class="fa fa-location-arrow"></i></div>
<div class="widget_ab_item_text">
<h6 class="text-white">الموقع</h6>
<p>
العراق-بغداد
</p></div></div>
<div class="widget_ab_item m-top-30">
<div class="item_icon"><i class="fa fa-phone"></i></div>
<div class="widget_ab_item_text">
<h6 class="text-white">هاتف </h6>
<p>+964 ### ### ####</p></div></div>
<div class="widget_ab_item m-top-30">
<div class="item_icon"><i class="fa fa-envelope-o"></i></div>
<div class="widget_ab_item_text">
<h6 class="text-white">البريد الالكتروني</h6>
<p>info@codeforiraq.org</p>
</div></div></div></div>
<div class="col-md-3">
<div class="widget_item widget_latest sm-m-top-50">
<h5 class="text-white">من نحن</h5>
<p class="m-top-20">نحن مجموعة من المبرمجين المتطوعين في المبادرة الانسانية البرمجة من أجل العراق. تهدف المبادرة الى خدمة وبناء المجتمع من الشعب والى الشعب عن طريق البرمجة.</p>
<div class="widget_latst_item m-top-30">
<div class="item_icon"><img src="../assets/uuu.png" alt="" /></div>
<div class="widget_latst_item_text"> 
<a href="http://codeforiraq.herokuapp.com/"><strong>
تفضلّ بزيارة الموقع الالكتروني لمبادرة البرمجة من اجل العراق
</strong></div></div></div></div>
<div class="col-md-6">
<div class="widget_item widget_newsletter sm-m-top-50">
<a href=""><h5 class="text-white">شعارنا</h5>
<div class="widget_brand m-top-40">
<img src="../assets/06.png" id="logo1" ></div>
<ul class="list-inline m-top-20">
<li>- <a href=""><i class="fa fa-facebook"></i></a></li>
<li><a href=""><i class="fa fa-twitter"></i></a></li>
<li><a href=""><i class="fa fa-linkedin"></i></a></li>
<li><a href=""><i class="fa fa-google-plus"></i></a></li>
<li><a href=""><i class="fa fa-dribbble"></i></a>  - </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
<div class="col-md-12">
<p class="wow fadeInRight" data-wow-duration="1s">
 جميع الحقوق محفوظة © 2018 | All Rights Reserved © 2018
</p>
</div>
</div>
</footer>
</div>